# Visual Studio
.vs/
*.sln
*.vsconfig

# JetBrains Rider
.idea/

# Claude Code
.claude/
CLAUDE.md

# UE Build Artifacts
**/Binaries/
**/Intermediate/
**/DerivedDataCache/
**/Saved/

# UE Content - Developer folders
Content/Developers/

# Build outputs
Build/++

# Debug files
*.pdb

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Python
__pycache__/
*.pyc

# Logs
*.log
Build/Android/
Build/Android_ASTC/
Build/AutomationScripts/bin/
Build/AutomationScripts/obj/
Build/Windows/
